{% load staticfiles%}
{% load freelanceapp_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">
    <link href="{% static 'assets/bs/css/bs.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/bs/css/jb.min.css' %}" rel="stylesheet">
    <link href="{% static 'freelanceapp/stylesheets/freelanceapp_base.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/fa/css/fa.min.css' %}">
    {% block extra_stylesheets %}{% endblock %}
    <title>{% block title %}{% endblock %}Freelance Africa</title>
	{% block meta %}{% endblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="wrapper">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="/">FA</a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		          <ul class="nav navbar-nav">		        	
			        <li><a href="{% url 'freelanceapp_projects_list' %}">PROJECTS</a></li>
			        <li><a href="{% url 'freelanceapp_freelancers_list' %}">FREELANCERS</a></li>
			        <li><a href="{% url 'freelanceapp_about' %}">ABOUT</a></li>
			        <li><a href="{% url 'freelanceapp_blog' %}">BLOG</a></li>
			        <li class="dropdown">
					{% if user.is_authenticated %}
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-bottom:10px;" id="mugshot">
                        <span>
                            <img class="nav-mugshot" src="{{ user.get_profile.get_mugshot_url }}" alt="Your mugshot"/> 
                        </span>
                        &nbsp;
                        <span class>
                        {{ user.get_full_name }}
                        </span>
                        <b class="caret"></b>
                      </a>
			          <ul class="dropdown-menu" role="menu">			            
				        <li><a href="{% url 'userena_profile_detail' user.username %}">View profile</a></li>
				        <li><a href="{% url 'freelanceapp_created_jobs' user.username %}">Created Projects</a></li>
				        <li><a href="{% url 'freelanceapp_create_job'%}">Post A Project</a></li>
			            <!-- <li><a href="#">Settings</a></li> -->
			            <li class="divider"></li>
				        <li><a href="{% url 'userena_profile_edit' user.username %}">Edit profile</a></li>
			            <li><a href="{% url 'userena_email_change' user.username %}">Change email</a></li>
			            <li><a href="{% url 'userena_password_change' user.username %}">Change password</a></li>
			            <li class="divider"></li>
				        <li><a href="{% url 'userena_signout' %}">LOG OUT</a></li>
			          </ul>
					{% else %}
					<li><a href="{% url 'accounts_user_authentication' %}">MY ACCOUNT</a></li>
					{% endif %}
			      </ul>
			    </div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<div id="main_content" class="container">
		    {% block body %}
		    {% endblock %}
		</div>
		<div id="push"></div>
	</div>
	<footer>
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>

    <!-- JavaScript -->
    <script src="{% static 'assets/jquery-2.0.3.min.js' %}"></script>
    <script src="{% static 'assets/bs/js/bs.min.js' %}"></script>
    <script src="{% static 'assets/bs/js/jb.min.js' %}"></script>
    {% block extra_script%}{% endblock %}
  </body>
</html>
